@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

*{
	margin: 0;
	padding: 0;
}

header{
	width: 100vw;
	height: 50px;
	background-color: #423A3A;
}



header>img{
	height: 50px;
	width: auto;
	float: left;
	margin-left: 70px;
}

header>span{
	color: #fff;
	font-family: 'Baloo Tammudu 2', cursive;
	font-size: 40px;
	margin-left: 10px;
}

.menu{
	float: right;	
	margin-right: 15vw;
}

.categories{
	color: #fff;
	font-family: 'Baloo Tammudu 2', cursive;
	font-size: 30px;
	padding-right: 10px;
	float: left;
	padding-left: 10px;
	display: inline-block;
	cursor: pointer;
}

.categories::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #fff;
  transition: 300ms;
  margin-top: -27px;
}

.categories:hover::after {
  width: 100%;
}


.gal{
	color: #fff;
	font-family: 'Baloo Tammudu 2', cursive;
	font-size: 30px;
	margin-right: 10px;
	float: left;
	margin-left: 10px;
	display: inline-block;
	cursor: pointer;
}

.gal::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #fff;
  transition: 300ms;
  margin-top: -27px;
}

.gal:hover::after {
  width: 100%;
}


.cont{
	color: #fff;
	font-family: 'Baloo Tammudu 2', cursive;
	font-size: 30px;
	margin-right: 10px;
	float: left;
	margin-left: 10px;
	display: inline-block;
	cursor: pointer;
}

.cont::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #fff;
  transition: 300ms;
  margin-top: -27px;
}

.cont:hover::after {
  width: 100%;
}



.lin{
	float: left;
	width: 1px;
	height: 30px;
	background-color: silver;
	margin-top: 10px;
}

.phone{
	color: #fff;
	font-family: 'Baloo Tammudu 2', cursive;
	font-size: 25px;
	margin-right: 10px;
	float: left;
	margin-left: 10px;
	display: inline-block;
	cursor: pointer;
	float: right;
}

.phone>a{
	font-size: 30px;
	text-decoration: none;
	color: #fff;

}

.phone::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #fff;
  transition: 300ms;
  margin-top: -27px;

}

.phone:hover::after {
  width: 100%;
}

.phone:hover>a {
  color: #FE393A;
}
.fa-user{
	font-size: 25px;
	color: #fff;
	margin-top: 13px;
	float: right;

}

.fa-user:hover{
	color: #FE393A;
}
